@page
@model RockyTwo.Views.Product.UpSert

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>
// создали представлене для инсерт(пустое)